@layer base {
	:root {
		--transition-timing: 400ms;
	}

	:root {
		--fs-200: clamp(0.7rem, calc(0.81rem + -0.13vw), 0.78rem);
		--fs-300: clamp(0.94rem, calc(0.94rem + 0vw), 0.94rem);
		--fs-350: clamp(1rem, calc(1rem + 0.12vw), 1.1rem);
		--fs-400: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
		--fs-500: clamp(1.35rem, calc(1.24rem + 0.55vw), 1.67rem);
		--fs-600: clamp(1.62rem, calc(1.41rem + 1.05vw), 2.22rem);
		--fs-700: clamp(1.94rem, calc(1.59rem + 1.77vw), 2.96rem);
		--fs-800: clamp(2.33rem, calc(1.77rem + 2.81vw), 3.95rem);
		--fs-900: clamp(2.8rem, calc(1.94rem + 4.28vw), 5.26rem);
	}

	:root {
		--white: hsl(50, 50%, 98%);
		--white-soft: hsl(50, 50%, 92%);
		--black: hsl(0, 0%, 16%);
		--black-transparent: hsl(0, 0%, 16%, 38%);
		--primary-hue: 205;
		--lavender: hsl(var(--primary-hue), 60%, 55%);
		/* --lavender: #3299e2; */

		--color-primary-400: hsl(205, 75%, 54%);
		--color-primary-300: hsl(196, 76%, 70%);
		--color-primary-200: hsl(180, 100%, 93%);

		--color-theme-bg: black;
		--color-bg: var(--white);
		--color-card-bg: #fff;
		--color-primary: var(--lavender);
		--color-accent: var(--white-soft);
		--color-text: var(--black);
		--color-border: var(--black-transparent);

		--code-background: hsl(0, 0%, 95%);
		--code-border-color-raw: 205, 84%, 20%;
		--code-border-color: hsl(var(--code-border-color-raw));
	}

	html[data-theme='dark'] {
		--color-theme-bg: var(--white);
		--color-bg: black;
		--color-card-bg: #333;
		--color-primary: #c0c0e3;
		--color-accent: var(--black);
		--color-text: var(--white);
		--color-border: #7a7a7a;

		--code-background: hsl(0color-mix(in oklch, var(--color-text), black 10%));
	}
}
