@layer reset, base, page;

@import './reset.css';
@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&family=Dancing+Script&family=Poiret+One&display=swap');

@layer base {
	body,
	input,
	textarea {
		font-family: 'Plus Jakarta Sans', sans-serif;
		font-size: var(--fs-400);
		color: var(--color-text);
	}

	h1 {
		font-size: var(--fs-800);
		font-weight: 800;
	}

	h2 {
		font-size: var(--fs-600);
		font-weight: 700;
	}

	h3 {
		font-weight: 600;
	}

	h4 {
		font-weight: 500;
	}

	h1,
	h2,
	h3,
	h4 {
		line-height: 1.4;
		margin-block-end: 0.25em;
		text-wrap: balance;
	}

	.app {
		min-height: 100vh;
		margin: 0;
		background-attachment: fixed;
		background-color: var(--color-bg);
		background-size: 100vw 100vh;
		background-image: radial-gradient(
				50% 50% at 50% 50%,
				hsl(from var(--color-primary) h s l / 75%) 0%,
				hsl(from var(--color-primary) h s l / 0%) 100%
			),
			linear-gradient(
				180deg,
				hsl(from var(--color-primary) h 100% 100%) 0%,
				hsl(from var(--color-primary) h 100% 90%) 55%,
				hsl(from var(--color-primary) h 100% 86%) 60%
			);
	}

	html[data-theme='dark'] .app {
		background-image: radial-gradient(
				50% 50% at 50% 50%,
				hsl(from var(--color-primary) h s l / 0%) 0%,
				hsl(from var(--color-primary) h s l / 0%) 100%
			),
			linear-gradient(
				180deg,
				hsl(from var(--color-primary) h 100% 0%) 0%,
				hsl(from var(--color-primary) h 100% 5%) 20%,
				hsl(from var(--color-primary) h 100% 10%) 60%
			);
	}

	a {
		color: var(--color-primary);
		text-decoration: underline;
	}

	a:hover {
		text-decoration: underline;
	}

	button {
		font-size: inherit;
		font-family: inherit;
	}

	/* Icons */
	.icon {
		position: relative;
	}

	.icon:before {
		display: inline-block;
		line-height: 1;
		font-family: 'Font Awesome 5 Free';
	}

	.icon.solid:before {
		font-weight: 900;
	}

	.icon.brands:before {
		font-family: 'Font Awesome 5 Brands';
	}

	.icon:before {
		line-height: inherit;
	}

	.icon > .label {
		display: none;
	}

	@keyframes fadeIn {
		to {
			opacity: 1;
		}
	}
	@keyframes flyDown {
		to {
			transform: translateY(0);
		}
	}

	.animate-in {
		transform: translateY(-30px);
		opacity: 0;
		animation-name: fadeIn, flyDown;
		animation-duration: 600ms, 400ms;
		animation-timing-function: ease-in, ease-in-out;
		animation-fill-mode: forwards, forwards;
	}
}
